html {
    font-size: 62.5%;
}

body {
    background: url(../images/bg-desktop.svg) no-repeat;
    background-color: var(--cor-de-fundo);
}

header {
    margin: 3rem 0 5rem 7rem;
}

header img {
    width: 15rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.container img {
    width: 55rem;
}

.texto-container {
    display: flex;
    flex-direction: column;
}

.texto-container h1 {
    font-size: 3rem;
    width: 37rem;
    line-height: 5rem;
}

.texto-container p {
    font-size: 1.4rem;
    width: 46rem;
}

.texto-container a {
    font-size: 2rem;
    color: var(--cor-de-fundo);
    background-color: #ffffff;
    width: 18rem;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 5rem;
    transition: 0.3s ease-in-out;
}

.texto-container a:hover {
    background-color: var(--cor-do-hover);
    color: #ffffff;
}

.texto-container h1,
p,
a {
    margin-bottom: 2rem;
}

.redes-sociais {
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem;
}

.redes-sociais li a i {
    font-size: 2rem;
    color: #ffffff;
    margin: 1rem;
    transition: 0.3s ease-in-out;
    border: 1px solid #ffffff;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
}

.redes-sociais li a i:hover {
    color: var(--cor-do-hover);
    border: 1px solid var(--cor-do-hover);
}